pkgbase = brother-mfc-l2800dw
	pkgdesc = LPR and CUPS driver for the Brother MFC-L2800DW printer
	pkgver = 4.1.0
	pkgrel = 2
	url = https://support.brother.com/g/b/producttop.aspx?c=as_ot&lang=en&prod=mfcl2800dw_eu_as
	arch = i686
	arch = x86_64
	license = custom:brother commercial license
	depends = cups
	source = https://download.brother.com/welcome/dlf106049/mfcl2800dwpdrv-4.1.0-2.i386.rpm
	md5sums = 9a7ea4217c83b272192fd66a753d1bf1
	depends_x86_64 = lib32-glibc

pkgname = brother-mfc-l2800dw